label,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 8, 255);
}

body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

th {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

td,
#form-control {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: rgb(255, 150, 12);
  box-shadow: 0 1px 1px rgb(255, 150, 12) inset, 0 0 8px rgb(255, 150, 12);
  outline: 0 none;
}

.add-train-btn {
  float: right;
}

@media screen and (max-width: 500px) {
    .card table{
        border: 0;
    }
    .card table thead {
        display: none;
    }

    .card table tr {
        margin-bottom: 20px;
        display: block;
        border-bottom: 2px solid #ddd;
        box-shadow: 2px 2px 1px #dadada;
    }
    .card table td {
        display: block;
        text-align: right;
        font-size: 13px;
    }

    .card table td:last-child {
        border-bottom: 0;
    }
    .card table td::before {
        content: attr(data-label);
        color: rgb(78, 78, 78);
        float: left;
        font-weight: bold;
    }
    .card tbody {
        line-height: 10px;
    }
}
